.form_style {
    margin-top: 2%;
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img_style {
    width: 100px; 
    text-align: center; 
    display: block; 
    margin: auto auto 10px auto;
}

.h4_style {
    text-align: center; 
    margin-bottom: 20px;
}

.label_style {
    font-size: 16px;
}

.label_top {
    margin-bottom: 4px;
}

.btn_close_div {
    text-align: right; 
    margin-top: -8%; 
    display: none;
}

.btn_close_btn {
    background-color: transparent; 
    border: none; 
    font-weight: 700; 
    font-size: 30px; 
    color: brown;
}

@media (max-width: 768px) {
    .btn_close_btn {
        margin-top: -15%;
    }
}

.btn_searh {
    text-align: center; 
    margin-top: 4%;
}

.off_ {
    display: none;
}

.offf_ {
    display: none;
}